:root {
    font-size: 62.5%;
    --background-color: #252525;
    --screen-color: #bbbfaa;
    --box-color: #333;
    --button-text-color: #454545;
    --button-number-color: #666;
    --complementary-color: #f27830;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: "Press Start 2P", system-ui;
    color: white;
}

body {
    display: grid;
    place-content: center;
    background: var(--background-color);
    padding: 2.4rem;
}